@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer-container {
    position: absolute;
    right: calc( (100% - 1440px)/2  );
    top: 1742px;
    width: 1440px;
    height: 56px;
    border-top: 1px solid #BFC4C9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px;
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #363636;
}

.footer-icons {
    width: 168px;
    height: 24px;
    background: url("../public/icon-social.png");
}